// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=74J0u0kllllaFw0g0qFqFg0w0aF */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #2A2D34;	// Main Primary color */
$color-primary-1: #F26430;
$color-primary-2: #6761A8;
$color-primary-3: #009B72;
$color-primary-4: #009DDC;

$color-heading: RGBA(255, 255, 228, 0.8);
$color-typer: lightgreen;
